.footer {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  background-color: var(--nav-card);
  border-top: 2px solid var(--border-color);
  margin-top: auto;
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
}

.links-footer a {
  color: var(--title-color);
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

.links-footer a:hover {
  color: var(--btn-hover);
}
